<div id="<%= dom_id qr_code %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= qr_code.url %>
    <%= image_tag qr_code.logo %>
    <%= image_tag qr_code.original_image %>
    <%= image_tag qr_code.combined_image %>
  </p>

</div>
